@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjNPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4Y_LPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4cHLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.float__whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 50px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 65px;
    height: 65px;
  }
  .float__whatsapp img {
    width: 40px;
  }
}
.animate-on-scroll {
  opacity: 0;
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes effect--fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: fixed;
  width: 100%;
  background-color: #274665;
  padding: 14px 0;
  z-index: 999;
}
.page__header .wrapper {
  max-width: 1225px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.page__header .wrapper .logo {
  width: 158px;
}
.page__header .wrapper .logo img {
  width: 100%;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: normal;
  transition: all linear 0.15s;
  color: #F7f7f7;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #7bc1c7;
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .page__header .wrapper {
    padding: 24px 28px;
  }
  .page__header .wrapper .logo {
    width: 140px;
  }
  .page__header .wrapper .is--mobile {
    display: block;
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer img {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-image: url('../img/bg-services.png'), linear-gradient(#FF8C39, #FF5C5C);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 12px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #f7f7f7;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
}
.page__hero {
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-position: bottom 0 right;
  background-size: 50% auto;
}
.page__hero .wrapper {
  margin: 0 16px 0 16px;
  padding: 220px 90px 42px 90px;
}
.page__hero .wrapper .content {
  width: 100%;
}
.page__hero .wrapper .content .title {
  max-width: 636px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 136%;
  margin-bottom: 60px;
}
.page__hero .wrapper .content .title span {
  font-weight: 700;
  background-color: #a8d7da;
}
.page__hero .wrapper .content .description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 32px;
}
.page__hero .wrapper .content .description .description__text {
  display: flex;
  align-items: center;
  gap: 32px;
}
.page__hero .wrapper .content .description .description__text .icon {
  width: 92px;
}
.page__hero .wrapper .content .description .description__text .text {
  font-size: 16px;
  line-height: 134%;
}
.page__hero .wrapper .content .description .description__text .text span {
  font-weight: 700;
}
.page__hero .wrapper .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page__hero .wrapper .content .bottom .line {
  width: 49.5%;
  height: 2px;
  background-color: #CCCCCE;
}
.page__hero .wrapper .content .bottom .logo {
  width: 150px;
}
.page__name {
  background-image: linear-gradient(to bottom, #509195, #264462), linear-gradient(to bottom, #2A4C69, #1B2D40);
  background-repeat: no-repeat;
  background-size: 50% 100%, calc(50% + 1px) 100%;
  background-position: left top, right top;
  padding-top: 42px;
}
.page__name .title {
  margin-bottom: 42px;
  text-align: center;
  padding: 6px 24px 4px 6px;
  color: #519397;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
}
.page__name .wrapper {
  max-width: 1175px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 24px;
}
.page__name .wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 844px;
  margin: 0 auto;
  width: 100%;
}
.page__name .wrapper .content .name {
  font-size: 66px;
  font-weight: 900;
  color: #F7F7F7;
  margin-right: 20px;
}
.page__name .wrapper .content .name span {
  font-weight: 700;
}
.page__name .wrapper .content .name__definition {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}
.page__name .wrapper .content .name__definition .definition {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 470px;
  width: 100%;
}
.page__name .wrapper .content .name__definition .definition .word {
  font-size: 30px;
  font-weight: 700;
  color: #F7F7F7;
}
.page__name .wrapper .content .name__definition .definition .text {
  font-size: 18px;
  color: #F7F7F7;
  line-height: 130%;
}
.page__name .wrapper .content .name__definition .definition .text span {
  font-size: 20px;
  font-weight: 700;
}
.page__name .wrapper .content .name__definition .definition.def-1 {
  align-items: flex-end;
  text-align: right;
}
.page__name .wrapper .content .name__definition .definition.def-1 .text {
  max-width: 340px;
}
.page__name .wrapper .content .name__definition .definition.def-1 .source {
  color: #F7F7F7;
  font-size: 12px;
  margin-top: 92px;
}
.page__team {
  padding: 72px 16px 0 16px;
}
.page__team .wrapper {
  max-width: 1275px;
  margin: 0 auto;
  padding: 32px 40px 60px 40px;
}
.page__team .wrapper .content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.page__team .wrapper .content .title {
  color: #519397;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 210px;
  flex-shrink: 0;
}
.page__team .wrapper .content .team__cards--desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.page__team .wrapper .content .team__cards--desktop .line {
  width: 90%;
  height: 3px;
  background-image: linear-gradient(to right, hsl(183, 30%, 45%), #264462, #3B6B7D, #2E526D, #274665);
}
.page__team .wrapper .content .team__cards--desktop .cards {
  display: flex;
  gap: 6px;
  flex-grow: 0;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card {
  width: 300px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .card__photo {
  max-width: 300px;
  width: 100%;
  margin-bottom: 32px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .card__name {
  color: #519397;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 4px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .card__rule {
  color: #519397;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 14px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .card__description {
  font-size: 14px;
  color: #274665;
  line-height: 134%;
  padding-right: 62px;
  margin-bottom: 20px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #A1A4A8;
  border-radius: 100%;
  transition: all linear 0.15s;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .social__link .icon {
  width: 18px;
}
.page__team .wrapper .content .team__cards--desktop .cards .team__card .social__link:hover {
  background-color: #0A66C2;
}
.page__team .wrapper .bottom {
  display: flex;
  align-items: flex-end;
  gap: 72px;
}
.page__team .wrapper .bottom .line__bottom {
  width: 100%;
  height: 2px;
  background-color: #CCCCCE;
}
.page__team .wrapper .bottom .logo {
  width: 150px;
  margin-bottom: -12px;
}
.page__services {
  padding: 72px 0;
  background-color: #F7F7F7;
}
.page__services .wrapper {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 16px;
}
.page__services .wrapper .title {
  color: #519397;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.page__services .wrapper .title__services {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.page__services .wrapper .services__list--desktop {
  background-image: url('../img/services-bg.png');
  background-repeat: no-repeat;
  background-size: calc(100% - 40px) 415px;
  background-position: bottom left;
  position: relative;
  height: 415px;
}
.page__services .wrapper .services__list--desktop .service {
  position: absolute;
}
.page__services .wrapper .services__list--desktop .service-1 {
  top: 156px;
  left: 36px;
  width: 266px;
  height: 180px;
}
.page__services .wrapper .services__list--desktop .service-1 .service__content {
  position: relative;
}
.page__services .wrapper .services__list--desktop .service-1 .service__content .service__name {
  color: #F7F7F7;
  font-size: 20px;
  font-weight: 700;
  line-height: 134%;
}
.page__services .wrapper .services__list--desktop .service-1 .service__content .icon__plus {
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 22px;
  transition: all linear 0.15s;
}
.page__services .wrapper .services__list--desktop .service-1 .service__content .icon__plus:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.page__services .wrapper .services__list--desktop .service-2,
.page__services .wrapper .services__list--desktop .service-3,
.page__services .wrapper .services__list--desktop .service-4,
.page__services .wrapper .services__list--desktop .service-5 {
  width: 100%;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content,
.page__services .wrapper .services__list--desktop .service-3 .service__content,
.page__services .wrapper .services__list--desktop .service-4 .service__content,
.page__services .wrapper .services__list--desktop .service-5 .service__content {
  position: relative;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .service__texts,
.page__services .wrapper .services__list--desktop .service-3 .service__content .service__texts,
.page__services .wrapper .services__list--desktop .service-4 .service__content .service__texts,
.page__services .wrapper .services__list--desktop .service-5 .service__content .service__texts {
  position: absolute;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .service__texts .service__name,
.page__services .wrapper .services__list--desktop .service-3 .service__content .service__texts .service__name,
.page__services .wrapper .services__list--desktop .service-4 .service__content .service__texts .service__name,
.page__services .wrapper .services__list--desktop .service-5 .service__content .service__texts .service__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 134%;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .service__texts .service__description,
.page__services .wrapper .services__list--desktop .service-3 .service__content .service__texts .service__description,
.page__services .wrapper .services__list--desktop .service-4 .service__content .service__texts .service__description,
.page__services .wrapper .services__list--desktop .service-5 .service__content .service__texts .service__description {
  font-size: 18px;
  line-height: 132%;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .icon__plus,
.page__services .wrapper .services__list--desktop .service-3 .service__content .icon__plus,
.page__services .wrapper .services__list--desktop .service-4 .service__content .icon__plus,
.page__services .wrapper .services__list--desktop .service-5 .service__content .icon__plus {
  position: absolute;
  width: 20px;
  transition: all linear 0.15s;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .icon__plus:hover,
.page__services .wrapper .services__list--desktop .service-3 .service__content .icon__plus:hover,
.page__services .wrapper .services__list--desktop .service-4 .service__content .icon__plus:hover,
.page__services .wrapper .services__list--desktop .service-5 .service__content .icon__plus:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .service__texts {
  left: 346px;
  top: 16px;
  width: 534px;
}
.page__services .wrapper .services__list--desktop .service-2 .service__content .icon__plus {
  right: 214px;
  top: 25px;
}
.page__services .wrapper .services__list--desktop .service-3 .service__content .service__texts {
  left: 376px;
  top: 112px;
  width: 696px;
}
.page__services .wrapper .services__list--desktop .service-3 .service__content .icon__plus {
  right: 142px;
  top: 132px;
}
.page__services .wrapper .services__list--desktop .service-4 .service__content .service__texts {
  left: 376px;
  top: 232px;
  width: 710px;
}
.page__services .wrapper .services__list--desktop .service-4 .service__content .icon__plus {
  right: 142px;
  top: 252px;
}
.page__services .wrapper .services__list--desktop .service-5 .service__content .service__texts {
  left: 346px;
  top: 348px;
  width: 716px;
}
.page__services .wrapper .services__list--desktop .service-5 .service__content .icon__plus {
  right: 214px;
  top: 362px;
}
.page__services .wrapper .services__list--desktop .vertical__text {
  position: absolute;
  right: -83px;
  top: 199px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  transform: rotate(-90deg);
}
.modal.modal__product {
  backdrop-filter: blur(4px);
  padding-bottom: 32px;
}
.modal.modal__product .modal-dialog {
  max-width: 900px;
  width: 898px;
  margin-left: auto;
  margin-right: auto;
}
.modal.modal__product .modal-dialog .modal-content {
  border-radius: 10px;
  background-color: #E7EBF1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.modal.modal__product .modal-dialog .modal-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.modal.modal__product .modal-dialog .modal-content .modal-body {
  padding: 65px 64px 80px 65px;
  position: relative;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .modal__heading .description {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 24px;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .features__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: disc;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .features__list .title__list {
  background-color: #BED2D8;
  font-weight: 700;
  padding: 12px 24px;
  margin-bottom: 8px;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .features__list li {
  font-size: 16px;
  margin-left: 32px;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #004BA9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  color: #F8FFFC;
  font-weight: 700;
  padding: 23px 40px 24px 40px;
  transition: all linear 0.15s;
}
.modal.modal__product .modal-dialog .modal-content .modal-body .button:hover {
  color: #F8FFFC;
  background-color: #4391FF;
}
.page__steps {
  padding: 80px 0 40px 0;
}
.page__steps .wrapper {
  max-width: 1275px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  position: relative;
  height: 600px;
}
.page__steps .wrapper .title {
  color: #519397;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.page__steps .wrapper .description {
  font-size: 18px;
  line-height: 136%;
  width: 412px;
}
.page__steps .wrapper .description span {
  font-weight: 700;
}
.page__steps .wrapper .bg-steps {
  width: 516px;
  position: absolute;
  top: 5px;
  left: calc(50% - 258px);
  z-index: 1;
}
.page__steps .wrapper .step {
  position: absolute;
  z-index: 2;
}
.page__steps .wrapper .step .content {
  position: relative;
  display: flex;
}
.page__steps .wrapper .step .content .number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #becfd5;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  z-index: 3;
}
.page__steps .wrapper .step .content .number .number__img {
  width: 38px;
}
.page__steps .wrapper .step .content .arrow {
  position: absolute;
}
.page__steps .wrapper .step .content .line {
  position: absolute;
  min-width: 390px;
  height: 3px;
  background-color: #becfd5;
}
.page__steps .wrapper .step .content .step__content .step__title {
  color: #519397;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.page__steps .wrapper .step .content .step__content .step__title span {
  font-weight: 700;
}
.page__steps .wrapper .step .content .step__content .step__subtitle {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 134%;
  font-weight: 700;
  margin-bottom: 12px;
}
.page__steps .wrapper .step .content .step__content .step__text {
  font-size: 14px;
  line-height: 134%;
}
.page__steps .wrapper .step.step-1 {
  top: -28px;
  right: 148px;
  height: 226px;
}
.page__steps .wrapper .step.step-1 .content {
  width: 526px;
  justify-content: flex-end;
}
.page__steps .wrapper .step.step-1 .content .number {
  top: 20px;
  left: 9px;
}
.page__steps .wrapper .step.step-1 .content .arrow {
  top: 35px;
  right: 325px;
}
.page__steps .wrapper .step.step-1 .content .line {
  top: 28px;
  right: 0;
  width: 489px;
}
.page__steps .wrapper .step.step-1 .content .step__content {
  width: 340px;
}
.page__steps .wrapper .step.step-2 {
  top: 368px;
  right: 9px;
  height: 203px;
}
.page__steps .wrapper .step.step-2 .content {
  width: 509px;
  justify-content: flex-end;
}
.page__steps .wrapper .step.step-2 .content .number {
  top: 6px;
  left: 32px;
}
.page__steps .wrapper .step.step-2 .content .arrow {
  top: -31px;
  right: 432px;
}
.page__steps .wrapper .step.step-2 .content .line {
  top: 28px;
  right: 0;
  width: 429px;
}
.page__steps .wrapper .step.step-2 .content .step__content {
  width: 340px;
}
.page__steps .wrapper .step.step-3 {
  top: 372px;
  left: 67px;
  height: 190px;
}
.page__steps .wrapper .step.step-3 .content {
  width: 297px;
  justify-content: flex-start;
}
.page__steps .wrapper .step.step-3 .content .number {
  top: 1px;
  right: -127px;
}
.page__steps .wrapper .step.step-3 .content .arrow {
  top: -317px;
  right: -257px;
}
.page__steps .wrapper .step.step-3 .content .line {
  top: 28px;
  left: 0;
}
.page__steps .wrapper .step.step-3 .content .step__content {
  width: 316px;
}
.page__testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden;
  background-color: #F7F7F7;
}
.page__testimonials .title {
  color: #519397;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.page__testimonials .carousel {
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-dots .owl-dot {
  height: 8px !important;
  display: flex;
  align-items: center;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-dots .owl-dot span {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #519397;
  border-radius: 100%;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-dots .owl-dot.active span {
  background-color: #519397;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-dots.disabled {
  display: none;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-nav {
  position: absolute;
  width: 105%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 40%;
  left: -3%;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-nav .owl-prev img,
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .owl-nav .owl-next img {
  width: 25px;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 80px;
}
.page__testimonials .carousel .owl-carousel.owl-themes.testimonials__carousel .logo .logo__carousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page__footer .footer__content {
  padding-top: 63px;
  padding-bottom: 66px;
}
.page__footer .footer__content .wrapper {
  display: flex;
  align-items: center;
  gap: 280px;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 24px;
}
.page__footer .footer__content .wrapper .footer__heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.page__footer .footer__content .wrapper .footer__heading .link__logo {
  width: 280px;
}
.page__footer .footer__content .wrapper .footer__heading .link__logo .link__footer {
  width: 100%;
}
.page__footer .footer__content .wrapper .footer__heading .description {
  width: 375px;
  font-size: 18px;
}
.page__footer .footer__content .wrapper .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page__footer .footer__content .wrapper .contacts .title {
  color: #519397;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.page__footer .footer__content .wrapper .contacts .contact__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page__footer .footer__content .wrapper .contacts .contact__links .link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #274665;
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.15s;
}
.page__footer .footer__content .wrapper .contacts .contact__links .link .contact__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #07A096;
  border-radius: 100%;
}
.page__footer .footer__content .wrapper .contacts .contact__links .link .contact__icon .icon {
  width: 18px;
}
.page__footer .footer__content .wrapper .contacts .contact__links .link:hover {
  color: #519397;
  cursor: pointer;
}
.page__footer .footer__content .wrapper .contacts .contact__links .link:hover .contact__icon {
  background-color: #19afa5;
}
.page__footer .footer__copyrights {
  background-color: #274665;
  margin: 0 auto;
  padding: 18px 24px;
}
.page__footer .footer__copyrights .wrapper__copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 24px;
}
.page__footer .footer__copyrights .wrapper__copyrights .copyright {
  font-size: 16px;
  color: #F7F7F7;
  line-height: 134%;
  font-weight: 400;
  text-align: center;
}
.page__footer .footer__copyrights .wrapper__copyrights .developer {
  width: 150px;
}
.page__footer .footer__copyrights .wrapper__copyrights .developer .dev__logo {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .page__footer .footer__content .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .page__footer .footer__content .wrapper .footer__links {
    align-items: center;
  }
  .page__footer .footer__content .wrapper .footer__links .links__social {
    margin-left: 0;
  }
  .page__footer .footer__content .wrapper .footer__nav {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .page__footer .footer__content .wrapper .footer__nav .col--1,
  .page__footer .footer__content .wrapper .footer__nav .col--2 {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__content .wrapper .contact {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__content .wrapper .time {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__copyrights {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  .page__footer .footer__copyrights .copyright {
    padding: 0 24px;
  }
}
body {
  background-color: #E7EBF1;
  font-family: "Raleway", sans serif;
  color: #274665;
}
