//out: false

.page__hero {
    
    .wrapper {        
        padding-top: 70px;

        .content {            
            width: 100%;            

            .owl-carousel.owl-theme.hero__carousel {
                
                .item {
                    height: 580px;
                }

                .content__carousel {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    .image {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .text {
                        flex: 0 0 49.3%;
                        max-width: 50%;
                        font-size: 36px;
                        font-weight: 400;
                        line-height: 136%;
                        padding-left: 10%;

                        span {
                            font-weight: 700;
                            background-color: #a8d7da;
                        }  
                    }

                    &.content-2 {                        
                        gap: 32px;
                        .text {                            
                            font-size: 28px;
                            max-width: 610px;
                            padding-left: 0;
                            padding-right: 15%;

                            span {
                                font-weight: 700;
                                background-color: transparent;
                            }  
                        }                        
                    }

                     &.content-3 {  
                        .text {                                
                            font-size: 28px;

                            span {
                                font-weight: 700;
                                background-color: transparent;
                            }  
                        }
                     }                        
                }
            }

            /*.description {
                display: flex;
                flex-direction: column;
                gap: 32px;
                max-width: 600px;
                width: 100%;
                margin-bottom: 32px;

                .description__text {
                    display: flex;
                    align-items: center;
                    gap: 32px;

                    .icon {
                        width: 92px;
                    }

                    .text {
                        font-size: 16px;
                        line-height: 134%;

                        span {
                            font-weight: 700;
                        }
                    }

                }
            }*/
        }
    }

    @media (max-width: @tablet) {
        
        .wrapper {
            padding-top: 130px;

            .content {

                .owl-carousel.owl-theme.hero__carousel {

                    .item {
                        height: 606px;
                    }
                    
                    .content__carousel {
                        flex-direction: column;
                        text-align: center;
                        justify-content: space-between;

                        .image {
                            width: 100%;
                            height: auto;
                        }

                        .text {
                            flex: 1 1 100% !important;
                            max-width: 100% !important;
                            width: 100%;
                            padding: 0 24px;
                            font-size: 24px;
                        }

                        &.content-1 {
                            .text {
                                margin-bottom: 42px;
                            }
                        }

                        &.content-2 {  
                            flex-direction: column-reverse;                            

                            .text {                            
                                font-size: 20px;
                                width: 100%;
                                padding: 0 24px; 
                            }                        
                        }

                         &.content-3 {  
                            .text {                                
                                font-size: 20px;
                                width: 100%;
                                padding: 0 24px;
                            }
                         } 
                    }
                }

                /*.description {
                    max-width: 100%;
                    gap: 24px;

                    .description__text {
                        flex-direction: column;
                        align-items: center;
                        gap: 12px;

                        .icon {
                            width: 62px;
                        }

                        .text {
                            font: 14px;
                            text-align: center;
                        }

                        br {
                            display: none;
                        }
                    }
                }*/
            }
        }


    }
}