//out: false

.page__services {
    padding: 72px 0;
    background-color: #F7F7F7;

    .wrapper {
        max-width: 1275px;
        margin: 0 auto;
        padding: 0 16px;

        .title {
            color: #519397;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.8px;
            margin-top: 20px;
            text-transform: uppercase;
            margin-bottom: 42px;
        }

        .title__services {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .description {
            margin-bottom: 12px;
            max-width: 710px;
        }

        .services__list--desktop {
            background-image: url('../img/services-bg.png');
            background-repeat: no-repeat;
            background-size: calc(100% - 40px) 415px;
            background-position: bottom left;
            position: relative;
            height: 415px; 

            .service {
                position: absolute;
            }

            .service-1 {
                top: 156px;
                left: 36px;
                width: 266px;
                height: 180px;

                .service__content {
                    position: relative;

                    .service__name {
                        color: #F7F7F7;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 134%;
                    }

                    .icon__plus {
                        position: absolute;
                        bottom: -48px;
                        left: 0;
                        width: 22px;
                        transition: all linear .15s;

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                        }
                    }
                    
                }
            }

            .service-2,
            .service-3,
            .service-4,
            .service-5 {
                width: 100%;
                .service__content {
                    position: relative;

                    .service__texts {
                        position: absolute;

                        .service__name {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 134%;
                        }
    
                        .service__description {
                            font-size: 18px;
                            line-height: 132%;
                        }
                    }    
                    
                    .icon__plus {
                        position: absolute;
                        width: 20px; 
                        transition: all linear .15s;

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                        }
                    }
                }
            }

            .service-2 {
                .service__content {
                    .service__texts {
                        left: 346px;
                        top: 16px;
                        width: 534px;
                    }

                    .icon__plus {
                        right: 214px;
                        top: 25px;
                    }
                }
            }

            .service-3 {
                .service__content {
                    .service__texts {
                        left: 376px;
                        top: 112px;
                        width: 696px;
                    }

                    .icon__plus {
                        right: 142px;
                        top: 132px;
                    }
                }
            }

            .service-4 {
                .service__content {
                    .service__texts {
                        left: 376px;
                        top: 232px;
                        width: 710px;
                    }

                    .icon__plus {
                        right: 142px;
                        top: 252px;
                    }
                }
            }

            .service-5 {
                .service__content {
                    .service__texts {
                        left: 346px;
                        top: 348px;
                        width: 716px;
                    }

                    .icon__plus {
                        right: 214px;
                        top: 362px;
                    }
                }
            }

            .vertical__text {
                position: absolute;
                right: -83px;
                top: 199px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 16px;
                transform: rotate(-90deg);
            }

        }
    }

    @media (max-width: @tablet) {
        padding-top: 50px;
        padding-bottom: 92px;

        .wrapper {
            
            .title {
                font-size: 28px;
                margin-bottom: 32px;
                text-align: center;
                letter-spacing: normal;
                margin: 16px 0;
            }

            .title__services {
                font-size: 24px;
                text-align: center;
                letter-spacing: normal;
                margin-bottom: 12px;
            }

            .description {
                text-align: center;
                margin-bottom: 24px;
            }

            .services__list--desktop {
                background-image: url('../img/services-bg-mobile.png');
                background-size: 380px 550px;
                height: 558px;                
                background-position: top 0 center;
                display: flex;
                flex-direction: column; 
                align-items: center;  
                padding-top: 16px;                    
                padding-left: 16px;
                padding-right: 16px;

                .service {
                    position: static;  
                    width: 320px; 
                    height: auto;                 

                    .service__content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .service__name {
                            font-size: 16px;
                        }
                        
                        .service__texts {                            
                            position: static;
                            width: 100%;

                            .service__name {
                                font-size: 16px;
                            }

                            .service__description {
                                font-size: 14px;
                            }
                        }

                        .icon__plus {
                            position: static;
                            width: 20px;
                        }
                    }                    

                    &.service-1 {                    
                        margin-bottom: 46px;
                    }

                     &.service-2 {                    
                        margin-bottom: 44px;
                    }

                    &.service-3 {
                        margin-bottom: 36px;
                    }

                    &.service-4 {
                        margin-bottom: 42px;
                    }                    
                }

                .vertical__text {
                    position: static;
                    transform: rotate(0deg);
                    text-align: center;
                    margin-bottom: 60px;
                    margin-top: 78px;
                }


            }
        }
    }

}

.modal.modal__product {
    backdrop-filter: blur(4px);
    padding-bottom: 32px;

    .modal-dialog {
        max-width: 900px;
        width: 898px;
        margin-left: auto;
        margin-right: auto;

        .modal-content {
            border-radius: 10px;
            background-color: #E7EBF1;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 10;
            }

            .modal-body {
                padding: 65px 64px 80px 65px;
                position: relative;

                .modal__heading {                    

                    .description {
                        font-size: 20px;
                        line-height: 22px;
                        margin-bottom: 24px;
                    }                                         
                }

                .features__list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    list-style-type: disc;

                    .title__list {
                        background-color: #BED2D8;
                        font-weight: 700;
                        padding: 12px 24px;
                        margin-bottom: 8px;
                    }

                    li {
                        font-size: 16px;
                        margin-left: 32px;
                    }
                }
            }
        }
    }    

     @media (max-width: @tablet) {
        .modal-dialog {
            width: 90%;

            .modal-content {
                .modal-body {
                    padding: 52px 24px 42px 24px;

                    .modal__heading {                    

                        .description {
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 16px;
                        }                                         
                    }

                    .features__list {
                        .title__list {
                            font-size: 14px;
                            padding: 8px 16px;
                            margin-bottom: 6px;
                        }

                        li {
                            font-size: 14px;
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
                
    }
}

   