//out: false

.page__team {
    padding: 0 16px;
    //background-image: linear-gradient(#111, #111);
    //background-size: 100% 150px;
    //background-position: left 0 bottom 0;
    //background-repeat: no-repeat;
    //background-color: #F7F7F7;

    .wrapper {
        max-width: 1275px;
        margin: 0 auto;
        padding: 32px 40px 60px 40px;        

        .content {
            display: flex;
            justify-content: space-between;
            gap: 32px;

            .title {
                color: #519397;
                font-size: 32px;
                font-weight: 700;
                letter-spacing: 0.8px;
                margin-top: 20px;
                text-transform: uppercase;
                width: 210px;
                flex-shrink: 0;
                padding-top: 72px;
            }

            .team__cards--desktop {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .line {
                    width: 90%;
                    height: 3px;
                    background-image: linear-gradient(to right, hsl(183, 30%, 45%), #264462, #3B6B7D, #2E526D, #274665);
                    
                }

                .cards { 
                    display: flex;
                    gap: 6px;
                    flex-grow: 0;

                    .team__card {
                        width: 300px;

                        .card__photo {
                            max-width: 300px;
                            width: 100%;
                            margin-bottom: 32px;
                        }
        
                        .card__name {
                            color: #519397;
                            text-transform: uppercase;
                            font-size: 20px;
                            letter-spacing: 0.8px;
                            margin-bottom: 4px;
                        }
        
                        .card__rule {
                            color: #519397;
                            font-weight: 700;
                            margin-bottom: 12px;
                            font-size: 14px;
                        }
        
                        .card__description {
                            font-size: 14px;
                            color: #274665;
                            line-height: 134%;
                            padding-right: 62px;
                            margin-bottom: 20px;
                        }

                        .social__link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 26px;
                            height: 26px;
                            background-color: #A1A4A8;
                            border-radius: 100%;
                            transition: all linear .15s;

                            .icon {                            
                                width: 18px;
                            }

                            &:hover {
                                background-color: #0A66C2;
                            }
                        }     
                    }
                }
                
            }

            .team__cards--mobile {
                display: none;
            }
        }
    }

    @media (max-width: @tablet) {
        padding: 0 0 60px 0;

        .wrapper {
            padding: 0;

            .content {
                flex-direction: column;
                align-items: center;

                .title {
                    margin-top: 60px;                    
                    margin-bottom: 28px;
                    padding: 0 16px;
                    text-align: center;
                    width: 100%;
                }

                .team__cards--desktop {
                    display: none;
                }

                .team__cards--mobile {
                    display: block;
                    flex-direction: column;
                    gap: 32px;
                    width: 100%;

                    .owl-carousel.owl-themes.team__carousel {

                        .owl-dots-circle();

                        .owl-dots {
                            margin-top: 30px !important;
                        }

                        .team__card {
                            width: 100%;

                            .card__photo {
                                max-width: 300px;
                                width: 100%;
                                margin-bottom: 32px;
                            }
            
                            .card__name {
                                color: #519397;
                                text-transform: uppercase;
                                font-size: 20px;
                                letter-spacing: 0.8px;
                                margin-bottom: 4px;
                            }
            
                            .card__rule {
                                color: #519397;
                                font-weight: 700;
                                margin-bottom: 12px;
                                font-size: 14px;
                            }
            
                            .card__description {
                                font-size: 14px;
                                color: #274665;
                                line-height: 134%;
                                padding-right: 62px;
                                margin-bottom: 20px;
                            }

                            .social__link {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 26px;
                                height: 26px;
                                background-color: #A1A4A8;
                                border-radius: 100%;
                                transition: all linear .15s;

                                .icon {                            
                                    width: 18px;
                                }

                                &:hover {
                                    background-color: #0A66C2;
                                }
                            }     
                        }
                    }
                    
                }
            }
        }
    }
}